@import url('https://fonts.googleapis.com/css2?family=Mazzard:wght@400;700&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #044fc0;
    --color-secondary: #000b1b;
    --color-tertiary: #88a5cc;
    --color-background: #f3f7fc;
}

body {
    font-family: 'Heebo', sans-serif;
}

a {
    position: relative;
    top: 20px;
    font-size: 1.3rem;
    margin: 0 40px;
    text-decoration: none;
    color: var(--color-background);
}



.nav-items a:first-child {
    color: white;
}

.hero {
    padding: 0 80px;
    overflow: auto;
    /* padding-top: 30px; */
    background-image: url('images/Hero.jpg');
    background-size: cover;
    /* background-repeat: no-repeat; */

}

.nav {
    margin-top: 40px;

    display: flex;
    justify-content: space-between;
}

.nav div:first-child {
    position: relative;
    top: 10px;
    color: white;
    font-size: 2.3rem;
    font-weight: 600;
}

.nav-items {
    display: flex;
}

.nav-items div {
    font-size: 1.5rem;
    letter-spacing: 2px;
    margin-left: 20px;
    font-weight: 700;
    border-radius: 20px;
    color: var(--color-primary);
    background-color: white;
    padding: 20px 30px;
}

.hero-heading {
    font-size: 5rem;
    max-width: 50%;
    font-weight: 500;
    color: white;
    text-align: center;
    margin: 70px auto;
}

.hero-text {
    font-size: 1.5rem;
    margin-bottom: 80px;
    text-align: center;
    color: var(--color-background);
}

.heading {
    font-weight: 600;
    margin-top: 140px;
    margin-bottom: 10px;
    font-size: 3rem;
}

.section-1,
.section-2,
.section-3 {
    padding: 0 80px;
}

.section-1-viewall {
    display: flex;
    justify-content: space-between;
}

.text {
    color: var(--color-tertiary);
}

.viewall {
    position: relative;
    bottom: 15px;
    border-radius: 10px;
    padding: 10px 15px;
    border: 2px solid var(--color-tertiary);
}

.section-1-cards {
    display: flex;
    justify-content: space-between;
}

.section-1-card img {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    height: 600px;
    width: 550px;
    object-fit: cover;
}

.section-1-card {
    border-radius: 25px;
    border: 1px solid rgb(185, 185, 185);
}

.price-per-person {
    display: flex;
}

.card-bottom {
    display: flex;
    justify-content: space-between;
}

.section-1-heading {
    margin-top: 0;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0px;
}

.section-body {
    padding: 10px;
}

.price {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2rem;
}

.per-person {
    position: relative;
    top: 20px;
    color: var(--color-tertiary);
}

.section-3 .heading,
.section-3 .text {
    text-align: center;
}

.section-3 .text {
    margin-bottom: 100px;
}



.section-3,
.testimonials {
    padding: 0 80px;
}

.section-3-body-text {
    width: 50%;
}

.list {
    display: flex;
    margin-bottom: 80px;
}

.list-number {
    font-size: 2rem;
    border-radius: 20px;
    color: var(--color-primary);
    background-color: var(--color-tertiary);
    padding: 35px 44px;
    margin-right: 40px;
}

.list .heading {
    font-size: 2.5rem;

    margin-top: 0;
    text-align: left;
}

.list .text {
    text-align: left;
    margin-bottom: 0;
}

.section-3-body {
    display: flex;
}

.section-3-body-image img {
    border-radius: 30px;

    position: relative;
    left: 200px;
    top: 20px;
    width: 600px;
    object-fit: cover;
}

.section-3-body-image img:nth-child(2) {
    border-radius: 30px;
    border: 10px solid white;
    position: absolute;
    top: 300px;
    width: 300px;
    height: 200px;
    object-fit: cover;

}

.section-3-body-image {
    position: relative;
}

.testimonials .heading,
.testimonials .text {

    text-align: center;
}

.testimonials .text {
    margin-bottom: 70px;
}

.testimonial-cards {
    display: flex;
    flex-direction: row;
}

.testimonials-card {
    border-radius: 30px;
    padding: 40px;
    margin: 0 30px;
    background-color: var(--color-background);
    margin-bottom: 60px;
}

.testimonial-cards img {
    height: 80px;
    width: 80px;

    border-radius: 20px;
}

.testimonial-top {
    display: flex;
    margin-bottom: 30px;


}

.testimonial-top-text {
    position: relative;
    top: 15px;
    margin-left: 20px;
}

.testimonial-top-heading {
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 2px;
}

.testimonial-top-text-text {
    color: var(--color-secondary);
    letter-spacing: 1px;
}

.testimonial-body {
    color: var(--color-tertiary);
    letter-spacing: .8px;
    font-size: .8rem;
}



.footer {
    display: flex;
    justify-content: space-Evenly;
    flex-direction: column;
    align-items: center;
    height: 200px;
    background-color: var(--color-secondary);
    padding: 130px auto;
}

.icons {
    display: flex;
}

.icons i {
    padding: 0 20px;
}

.footer-heading {
    font-weight: 700;
    color: white;
    font-size: 3rem;
}